<mat-drawer-container class="example-container" autosize>

  <mat-drawer #enlaces class="example-sidenav" mode="over">
    <ul>
      <li><a routerLink="/album">Album</a></li>
      <li><a routerLink="/foto">Foto</a></li>
    </ul>
  </mat-drawer>

  <!--Toolbar-->
  <mat-toolbar color="primary">
    <button mat-icon-button color="accent" aria-label="menu" (click)="menu(enlaces)">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Album fotográfico</span>
  </mat-toolbar>

  <!--Card-->
  <router-outlet></router-outlet>


</mat-drawer-container>